@import '../node_modules/bootstrap/scss/bootstrap.scss';


.menuIcon{
    z-index: 100;
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visible{
    background-color: blue;
}
.hidden{
    background-color: red;
}
.menuBar{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: blue;
}
li{
    list-style: none;
}
.nav-link{
    color: white !important;
}